body{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(232, 220, 220);
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.826);
    border-radius: 15px;
    max-width: 425px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(0, 0, 0, 0.434);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: rgb(65, 74, 74);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(124, 112, 112);
}

button:active{
    background-color: rgb(160, 147, 147);
}

.operatorBtn{
    background-color: hsl(35, 100%, 55%);
}

.operatorBtn:hover{
    background-color: hsl(35, 100%, 65%);
}

.operatorBtn:active{
    background-color: hsl(35, 100%, 75%);
}